[2017-01-10 13:05] Clever-Boy opened #11 "Unable to compile on Windows"
Tried solving this error but doesn't seem to find a solution. If someone can take a look and provide a solution that will be great.. thanks!

[ 55%] Building CXX object CMakeFiles/RadixEngine.dir/source/env/Util.cpp.obj
C:/msys64/home/Cleverboy/RadixEngine/source/env/Util.cpp: In function 'void radix::SetThreadName(uint32_t, const char*)':
C:/msys64/home/Cleverboy/RadixEngine/source/env/Util.cpp:6

[2017-01-10 14:24] Geertiebear commented on #11
Seems like a use of GCC extensions, which aren't supported by the visual compiler. I'm not sure though, I can look into it further

[2017-01-10 18:41] ElementW commented on #11
@Geertiebear : I'd say the opposite, where GCC is obviously used (e.g. mentions `[-Wunused-function]`) and the preprocessor enabled Windows-only code, but Visual C++ extensions are used to catch an exception using Structured Exception Handling (SEH).

[2017-01-10 20:59] Geertiebear commented on #11
I see, yes this isn't anything to do with GCC extensions. My bad, should have looked at the error more in depth.

[2017-01-10 21:54] Clever-Boy commented on #11
Ok. Can you please let me know how to solve this error.

[2017-01-16 19:14] hhirsch commented on #11
@Clever-Boy Can you tell us more about the software you are using? Did you follow our compile instructions to the t?

[2017-01-18 11:07] Clever-Boy commented on #11
@hhirsch : yes I followed all the steps. downloaded Mysys2 on my windows machine, followed all the instructions after that and was able to fix few of the errors. Finally got the make file generated. During make got some errors which came across while compiling. ( I don't remember them now ) but Util.cpp has this error which I tried to research but not yet able to find an answer.

[2017-01-18 11:30] SGOrava commented on #11
@Clever-Boy We know about this error, and we dont know solution yet.
What we know is that it worked some time ago and stopped maybe after updae in mingw or in or codebase..
We are using Linux so this has low priority for us.
Feel free to fix it :)

[2017-01-18 11:53] Clever-Boy commented on #11
Ah ok! I will look into it over the weekend may be. Will see how it goes.

[2017-02-05 18:43] JulianThijssen commented on #11
It's because the windows thread code in that file was completely wrong. It used variable names that weren't even defined, pointer calls on non-pointer objects, multiple definitions of the same function, etc.

[2017-02-23 10:26] acterhd commented on #11
Needs replace epoxy to another library. Will better if you wrote own library or use glad.

[2017-02-23 10:34] hhirsch commented on #11
@acterhd @ElementW Was working on a fix that will allow to use either epoxy or glad depending on what is available. Better ask him.

[2017-02-24 20:08] hhirsch opened #18 "travis builds for radix engine"

[2017-02-25 20:46] hhirsch commented on #11
@Clever-Boy You could try with vs 2017.

[2017-02-28 17:10] hhirsch opened #20 "Performance Issues"
@JulianThijssen This looks like the right tool to hunt the performance Issues https://github.com/yse/easy_profiler

[2017-02-28 19:10] hhirsch opened #21 "Many Quaternion tests failing"
https://gist.github.com/hhirsch/55c24663fe083bce415445fa45454f7a

[2017-02-28 19:13] hhirsch commented on #11
@Clever-Boy Compilation should work with vs 2017. And possibly with mingw. Please re-open if this is still an Issue.

[2017-02-28 19:13] #11 closed

[2017-02-28 19:13] #18 closed

[2017-03-01 16:04] hhirsch opened #24 "Make radix compatible with multiple bullet versions"
Like what we did for 285 in source/physics/KinematicCharacterController.cpp

[2017-03-05 10:40] #24 closed

[2017-03-06 19:07] hhirsch opened #29 "Move most of the functionality of sound manager to sound system"
Since the inception of the sound manager. The architecture has slightly changed.
Most of the functionality should probably go into a sound system.

[2017-03-09 16:38] ElementW commented on #29
"slightly" changed 😉

[2017-03-12 05:35] hhirsch opened #31 "Player Tasks vs. Player Controller"
@GlPortal/technical-officers-engine I don't see a benefit in Player tasks. To me they look like they work around our ECS architecture.

In my understanding of our architecture the thing that takes user input and acts accordingly on the player should be a system or a bunch of plain old C++ classes used by a system.

Hope you guys can comment on what you think.

[2017-03-12 08:17] Geertiebear commented on #31
I used it for triggers.

[2017-03-12 08:46] hhirsch commented on #31
@Geertiebear I did not consider the other tasks just the task that handles movement.

[2017-03-12 08:54] Geertiebear commented on #31
I see, that makes sense. I designed the Player Tasks system to be an easy way for people to add little things they want a player to do. For example, "update this" or something like that. It's also very handy for triggers :)

[2017-03-12 09:08] hhirsch commented on #29
@feliwir We can use this ticket to discuss architecture with @GlPortal/technical-officers-engine

[2017-03-13 19:13] hhirsch opened #32 "Adapt material definition to specification"
https://github.com/GlPortal/specification/blob/master/formats/material.md

[2017-03-13 20:05] hhirsch opened #33 "Add gamepad support"
Create support for gamepads (like XBox 360 or PlayStation ones) as an alternative input method.

[2017-03-22 12:06] hhirsch opened #36 "Continuous System"
@ElementW Can I create a system that does not use the update method but has one loop running throughout? With the current system if I have a while loop in the systems constructor, it seems to hang.

[2017-03-24 20:30] ElementW commented on #36
@hhirsch I guess that'd be possible, although you'll have to take care of synchronization as to not cause race conditions between your systems and the other "normal" ones.
BTW, why a loop in a constructor ?

[2017-03-24 21:03] hhirsch commented on #36
@ElementW This was just a case that I imagined where we have a cli loop that listens for input so that we can interact with the running game.

[2017-03-28 10:09] hhirsch opened #38 "Check DI tw Fruit"
https://github.com/google/fruit/wiki/tutorial:-getting-started

[2017-03-30 14:30] hhirsch opened #39 "Get out of windows specific dependency hell"
https://conan.io/

[2017-03-31 08:32] Geertiebear commented on #39
We could also just use submodules

[2017-03-31 13:01] hhirsch commented on #39
@Geertiebear Agreed. I added the link as an issue here so I won't forget to check it out.

[2017-04-16 12:27] hhirsch opened #41 "Inject config and environment where it is needed instead of making it superglobal"

[2017-04-16 12:29] hhirsch opened #42 "Write Tests for core classes"

[2017-04-29 16:23] #36 closed

[2017-05-04 21:26] captaincrunch21 commented on #33
I would like to solve this one.Could you guide me in this?

[2017-05-05 05:19] hhirsch commented on #33
@captaincrunch21 Very nice.
1. Compile GlPortal https://github.com/GlPortal/glPortal
2. Look at this file that contains the game controls atm. https://github.com/GlPortal/RadixEngine/blob/f7b7a0d32a8487a578c3e42b135ae0d4f91744b3/source/PlayerTask.cpp see how this is a bit chaotic? The design I imagine is that the game controller class or input class keeps a reference to the game and for every acti

[2017-05-09 14:08] Carrotstrip commented on #42
Hi, I'm looking to get involved with some open source code, and this looks like a really cool project. I'm a student at the University of Michigan, halfway through a CS minor. Most of my experience is in C++. I'd like to tackle a simple task as my first pull request, and this one seems as good a place to start as any, but I'm pretty unsure how to begin. Would you recommend that I compile the Radix

[2017-05-09 16:30] hhirsch commented on #42
@Carrotstrip Very nice to hear. Welcome. Yeah for this task you'll need to compile the engine and the tests (easy on arch or in docker and in windows probably, too we just don't have a lot of people with know how in windows that can elaborate on how to compile).

If you want to dive into a bigger problem from the start you can have a look at
https://github.com/GlPortal/RadixEngine/blob/master/test

[2017-05-10 07:41] Carrotstrip commented on #42
Thanks! I'll check that stuff out.

[2017-05-11 04:21] Carrotstrip commented on #42
So I've managed to get everything compiled (I'm running OS X, by the way) and I guess my next question is... what now? My university curriculum has really only prepared me to deal with files that end in .cpp or .h. Anything else is pretty much foreign territory for me. Looking through the files in RadixEngine, everything seems to be either a makefile or an executable. So I guess I don't really kno

[2017-05-11 05:01] hhirsch commented on #42
This is the folder that contains Radix's **source** code: https://github.com/GlPortal/RadixEngine/tree/master/source the **headers** are in https://github.com/GlPortal/RadixEngine/tree/master/include/radix

*RadixEngine is a library* in glportal https://github.com/GlPortal/glPortal and this cli demo https://github.com/GlPortal/cgame you can see how it is used.

The editor is an extension for blend

[2017-05-11 17:49] Carrotstrip commented on #42
Okay, I'll take a look around in there.

[2017-05-18 16:36] Carrotstrip commented on #42
I’ve been trying to put together tests for Math.cpp, and I have some questions about that and also more general questions that I’ll try to make about the Radix Engine specifically. I don’t want to flood you with questions that I really should be able to answer myself with a bit of googling, but there are a few broad things that I wouldn’t mind some guidance on.
	First off, I think my compilation i

[2017-05-18 18:25] hhirsch commented on #42
@Carrotstrip You should be able to run GlPortal by typing **make run** after you followed the COMPILE.md. Here is some footage of GlPortal https://vimeo.com/163973907

[2017-05-18 18:28] hhirsch commented on #42
@Carrotstrip This is the testing framework we are using https://github.com/philsquared/Catch

[2017-05-18 21:23] Carrotstrip commented on #42
"make run" is telling me that there's no target "run" in the Makefile, and checking over RadixEngine/build/Makefile (the one generated by cmake I think) I see no run target. Am I trying "make run" in the wrong directory, or could this be a problem with the way I compiled? Maybe something wrong with cmake? And thanks, the testing makes much more sense after looking over Catch.

[2017-05-19 03:14] ElementW commented on #42
Darn, the issues you're having is with code I wrote, which I know don't work well. The string thing is my quickly thrown together UTF-8 encoder/decoder, and the Quaternion stuff is Quat↔Euler angles conversion functions, and some edge cases still fail (IIRC I still haven't fixed return values for singularities). I'll get back to that some time later/

[2017-05-19 04:37] hhirsch commented on #42
RadixEngine (simply a library) itself does not have a make run target. You need client code (a game) like https://github.com/GlPortal/glPortal (it has a COMPILE.md with instructions).

[2017-05-26 10:37] rtlayzell opened #44 "Build on Windows with MSYS"
I tried to build on Windows using MSYS2 following the instructions in COMPILE.md, unfortunately I'm running into several issues grabbing the required dependencies.

First, CMake is unable to find the OPENGL_gl_LIBRARY so I grabbed the one from the Windows SDK and directed CMake towards it with `-DOPENGL_gl_LIBRARY=C:\path\to\opengl32.lib` which it seemed to be satisfied with.  After that it compla

[2017-05-26 18:33] hhirsch commented on #44
@rtlayzell There is the MSYS2 console and the Mingw-w64 Win64 shell. The instructions say when to use which. It is the only error I can think off atm.

[2017-05-29 16:51] hhirsch commented on #44
Let me know if this did not solve your issue.

[2017-05-30 09:33] rtlayzell commented on #44
@hhirsch Thanks for getting back to me, I used the correct terminals as per the instructions but still see the issues of missing libraries

[2017-07-23 05:07] babyccino commented on #33
Hi @hhirsch is this task issue still unsolved? I'm interested in getting involved in this project.

[2017-07-23 07:32] hhirsch commented on #33
@babyccino This task is still unsolved and nobody is working on it. If you get stuck don't hesitate to ask a question here or on irc or gitter.

[2017-07-24 04:49] hhirsch commented on #33
@babyccino We are mostly from Europe. I did answer after half an hour but you left immediately. So I am not sure if you've read my answer on IRC.

[2017-07-24 04:57] babyccino commented on #33
Oh yeah sorry probably should have left it open. Is it better to use the gitter to ask questions?

[2017-07-25 04:38] hhirsch commented on #42
@Carrotstrip Saw you join on IRC earlier. One minute is too fast for us to reply or say hi though.

[2017-07-25 04:46] einsteinreloaded commented on #29
is this still active

[2017-07-25 04:59] hhirsch commented on #29
@einsteinreloaded Nobody is working on it atm. and it might clash with what @ElementW is working on atm. so make sure to coordinate with him.

[2017-07-25 05:16] hhirsch commented on #29
@einsteinreloaded However discussion and Design suggestions are already open so don't hold back on this.

[2017-07-25 16:54] ElementW commented on #29
While it might clash with my work if audio stuff is migrated to an ECS system (which I'm getting rid of), it probably will not if it is refactored/moved to basically any another class.

[2017-08-09 03:09] Carrotstrip commented on #42
Hi, sorry it's been a while! I got pretty busy, but I've had this project in the back of my head and now that I've got quite a bit more free time I've been able to get cranking on it again, and I've got another question; once I've finished writing the test for Math.cpp, how can I work it into the test suite that is run by "make test"? I'm a bit turned around with all of these makefiles, and not fa

[2017-08-09 08:18] SGOrava commented on #42
You can look at cmake file and add your test
https://github.com/GlPortal/RadixEngine/blob/master/tests/CMakeLists.txt#L18

[2017-08-17 14:38] Carrotstrip commented on #42
So I've got my test running, and I've also been looking at QuaternionTest, and I was wondering if you guys get failure reports when you run those tests, as in Catch reports which line failed in which test. I can't seem to get Catch to do that, and its tutorial claims it's a feature.

[2017-08-18 06:36] hhirsch commented on #42
@Carrotstrip Remove RadixEngine/CTestCustom.cmake on your checkout and the QuaternionTests will be run. It should tell you which tests fail and why (asserted value vs. true value).

[2017-08-18 13:23] Carrotstrip commented on #42
(I was just about to send you this, thanks though, I get the sense that your way is more graceful.) Never mind, figured it out. It was Ctest, not Catch. I was just missing some flags (-R and -VV). So now I'm looking at QuaternionTest to try to figure out why that's failing, and it looks like the Aero functions are the culprits. However, I don't understand what those are trying to do, and the term

[2017-08-18 15:32] hhirsch commented on #42
@Carrotstrip @ElementW Should be able to elaborate on it.

[2017-08-18 17:36] ElementW commented on #42
@Carrotstrip "aero" is a shorthand I used for "aeronautics" or "aerospace", i.e. angles as expressed for [a fixed-wing aircraft](https://en.wikipedia.org/wiki/Flight_dynamics_(fixed-wing_aircraft)), which is a kind of Euler angle system, where it is commonly understood that rotations are applied in the Roll-Pitch-Yaw order, whereas Euler angles has otherwise existing conventions. In short, the "ro

[2017-08-20 07:34] hhirsch opened #55 "Fix code coverage"
Coverage is currently at 0% but should be at least at 0.x% so something is not right https://coveralls.io/github/GlPortal/RadixEngine?branch=master

This still has a lot of complexity associated with it but it can be fixed without having any knowledge of the code base and without getting the build stack to run locally.

[2017-08-25 01:50] Carrotstrip commented on #42
Thanks @ElementW, I've been reading what seems like every article on gimbal lock and rotational singularities out there, and I haven't come up with a viable solution to the problem as I understand it. I've got some time to spend on fixing this, but not a great grasp of how to fix it, so if you've got any ideas for where to start on this I could run with those a bit. Thanks again.

[2017-08-26 16:12] hhirsch commented on #20
**Quote Dorian:** Quickly ran the game through valgrind --tool=callgrind. Surprisingly, UI rendering takes longer than world rendering. Uploading the proj, view and invView matrix on each mesh rendering takes tremendous time and hogs the graphics bus (which on i915 mesa seems to be a spinlock, i.e. eats your CPU). As in the old days, texture rebinding is also long, and is worsened by the glActiveT

[2017-08-26 22:40] ElementW opened #59 "Mesh never frees its GL resources"
`MeshLoader` generates a VAO and VBO in multiple methods, yet no matching call to `glDeleteVertexArray` or `glDeleteBuffers` is ever done, resulting in multiple GL resource leaks.

I suggest using refcounted mesh storage (either through a `MeshCache` class extenting on the current `MeshLoader::meshCache` use, or using `std::shared_ptr`s) as well as RAII object interfaces to GL's VAOs and VBOs. I m

[2017-09-01 22:04] ElementW opened #60 "Abstract access to windowing/input library"
Currently the engine uses SDL2.
Depending on the platform, other similar libraries like GLFW3 might support more up-to-date features like better controller input, multi-screen handling, clipboard interaction, graphics context creation (be it OpenGL/Vulkan) or newer/better display server backends.
Additionally, having raw SDL code sprinkled everywhere makes it harder to maintain if there is an API

[2017-09-03 05:27] hhirsch commented on #42
@Carrotstrip If you are completely stuck on this task then document all the results you got so far in a comment and then find another task to work on. Start with low complexity tasks that you solve in 1 to 2 weeks and then work your way up to a higher complexity that is realistic for you to solve in about 1 to 2 weeks.

[2017-09-03 05:29] hhirsch commented on #44
@rtlayzell Which versions of the libraries are getting installed? Can you give the output of the pacman command you used to install assimp?

[2017-09-07 16:54] hhirsch opened #61 "Add Item: Jet Pack"

[2017-09-07 16:54] hhirsch opened #62 "Add flying"

[2017-09-07 16:54] hhirsch opened #63 "Add no-clip"

[2017-09-07 17:03] hhirsch opened #64 "Add demo games and demo data"
Add some very basic demo games and demo data to radix as well as a target to build them.

[2017-09-07 17:14] hhirsch opened #65 "Moving objects"
Add moving objects/platforms.

[2017-09-07 18:14] hhirsch opened #66 "Demo game: Iron sight"

[2017-09-07 18:15] hhirsch opened #67 "Demo game: FPS"

[2017-09-07 18:25] hhirsch opened #68 "Demo Game - Caco Invasion"
Port Caco Invasion to Radix
https://www.youtube.com/watch?v=ecJVdNuPk5w&index=14&list=PLrQnnXQh0V2e53QZ4yRpsjA8ebLYm89Ps

[2017-09-07 19:52] Geertiebear commented on #64
Are demo games supposed to show what the engine is capable of (as in, its best features), or is it supposed to show just the basic things of the engine? Guess what I'm asking is how complex these games will, and are supposed to be. Because if they are more complex it might be a good idea to split them up in their own projects..

[2017-09-08 03:30] hhirsch commented on #64
@Geertiebear I have some other issues for demo games that could be their own project for example #68. The ones I am referring to here should showcase engine features. I am changing the title of this issue accordingly. The main point is that if a radix user wants to build an FPS there is already a demo that shows how he can do it. We probably should start with an FPS demo and we will probably add n

[2017-09-08 04:05] hhirsch opened #69 "Add JS scripting support"

[2017-09-08 04:34] hhirsch commented on #20
Less relevant now but important in the future will be map optimizations like https://www.youtube.com/watch?v=Ne59X-e-R9Y and no-draw textures.

[2017-09-08 13:38] hhirsch opened #71 "Make Logger an external module"
https://github.com/GlPortal/logger

[2017-09-08 15:56] amwoods3 opened #72 "Compile Issue"
Hello There,

I am interested in your project, and I was wondering if you could point me in the right direction for compiling your engine?

I have all of the dependencies required, but I am attempting to compile it on MacOS. I would like to contribute to this project in some way, and I will continue to search for how to compile it with MacOS.

The error I am getting is the following:
--
  CMake Er

[2017-09-08 16:01] hhirsch commented on #72
@amwoods3 Check the command here: https://github.com/GlPortal/glPortal/blob/master/COMPILE.md#downloading-source-code

[code]

[2017-09-08 16:08] hhirsch commented on #72
@amwoods3 You might still get some errors in a logger class. However you should be able to comment out the offending lines.

[2017-09-08 16:16] amwoods3 commented on #72
Should the build directory be put directly into the RadixEngine directory? If I try to build in glPortal, it tells me RadixEngine is missing. If I try to build in RadixEngine, it gives me the same error as previously.

[2017-09-08 16:32] hhirsch commented on #72
@amwoods3 Yes. Neither glportal nor radix have their submodules initialized. The git submodule command fixes that.

[2017-09-08 16:33] hhirsch commented on #72
@amwoods3 This will initialize and update all the submodules for glportal and radix in one command. **Result:** Said directories will no longer be empty.

[2017-09-08 16:39] amwoods3 commented on #72
Got it, I did the submodule for the RadixEngine, and it works now. I found the logger error that you were talking about, which was the only error. I started the make again, and it compiled successfully.

Thanks.

[2017-09-08 16:44] hhirsch commented on #72
@amwoods3 Sweet. If you run glportal you can have a look at the engine in action. You can chat with me on irc and gitter. #glportal on freenode and https://gitter.im/GlPortal/glPortal

[2017-09-08 16:44] #72 closed

[2017-09-08 16:46] hhirsch commented on #72
@amwoods3 I am also interested in fixes to these logger problems if you like to cook up a patch.

[2017-09-08 16:59] amwoods3 commented on #72
Thanks. I actually only built the RadixEngine. I am kind of new with CMake as I have never used it before, so I don't know what the glPortal is trying to do in order to find RadixEngine (it says it cannot find it).

[2017-09-08 17:06] hhirsch commented on #72
@amwoods3 The following commands should be enough to get glportal started for you.

[code]

[2017-09-08 17:36] hhirsch opened #73 "glxinfo-like debugging"
There needs to be an easy way to dump important system data for debugging.
- GPU
- OS Version
- OpenGL Version
- Shader Version

[2017-09-09 14:13] hhirsch commented on #55
This gets submitted as https://coveralls.io/github/GlPortal/RadixEngine?branch=HEAD not as master.

[2017-09-09 14:13] #55 closed

[2017-09-09 15:35] hhirsch opened #75 "Demo Game - FPS - Stronghold"
https://www.youtube.com/watch?v=5FhNK5-FrEM&list=PLrQnnXQh0V2e53QZ4yRpsjA8ebLYm89Ps&index=91

[2017-09-10 16:48] hhirsch opened #79 "Add physic options for Map Objects"

[2017-09-11 16:26] hhirsch commented on #20
Dorian Wouters @ElementW 09:32
@hhirsch Yes I do mean performance. Right now it is abysmal because we send too much data uselessly, we don't batch anything, plus the shaders aren't the lightest out there (each light reflection to render is expensive as hell). Now, to achieve greater performance, we must do a maximum of batch rendering as is possible, and have a special "static" state for entities

[2017-09-11 17:29] ElementW opened #80 "Static lightmap baking"
Continuing on #20, having the possibility of baking lightmaps into the map would improve both visual quality and performance.

List of resources we can use:
* http://madebyevan.com/shaders/lightmap/ Simple single-bounce HW-accelerated lightmapping technique (w/ WebGL preview)

[2017-09-11 17:46] ElementW opened #81 "Change material "gmd" extension to "rmdx""
"gmd" (used to) mean "glPortal Material Definition", I suggest we change it to "rmdx" = "Radix Material Definition XML" to better reflect the name of the engine and allow alternative definition formats in the future (e.g. "rmdj" for JSON, "rmdy" for YAML).

Steps:
1. Change [MaterialLoader's source](https://github.com/GlPortal/RadixEngine/blob/dc422af8243e60e7feb76743562dc8b300b66e81/source/data/m

[2017-09-11 18:43] SGOrava commented on #81
3. Adapt [GlPortal/map-editor](https://github.com/GlPortal/map-editor)

[2017-09-12 16:26] hhirsch opened #82 "Demo Game - Typing/FPS - Typing of the Dead clone"

[2017-09-14 10:21] ElementW opened #84 "Triggers' actions are executed as soon as Bullet reports contact"
Triggers' actions are executed as soon as Bullet reports contact, which happens as soon as possible, i.e. even when creating the Trigger, therefore being a 1x1x1 trigger centered on 0,0,0 since that's how the Transform is initialized by default.

In turn, if the player spawns at this position, the trigger tries to load the next map *while not having finished loading the previous one*. This creates

[2017-09-14 12:07] ElementW commented on #73
@wow2006 started working on this issue [as said on Gitter](https://gitter.im/GlPortal/glPortal?at=59b830bcc101bc4e3abb4f8c)

[2017-09-15 16:00] hhirsch opened #85 "Demo Game - FPS - Tresspaser"
This is based on the FPS demo but instead of a fixed weapon this has a physics based arm that can grab a gun.

[2017-09-16 13:52] hhirsch opened #86 "Demo Game - Horror - Solace Dreams"
http://www.moddb.com/mods/solace-dreams

[2017-09-16 19:24] ElementW commented on #69
@SGOrava Mentioned using Python [on Gitter](https://gitter.im/GlPortal/glPortal?at=59bd6a84177fb9fe7ecbe556).

I am OK with this choice however my concern is the size of the overall runtime. While CPython isn't that heavy by itself, the whole Python standard library takes up tens of megabytes ; some parts are actually  not needed (e.g. urllib). A smaller Python VM subset exists under the name of [

[2017-09-17 04:39] hhirsch commented on #69
@ElementW @SGOrava Can you give your reasons why Python is Number 1? I want to change my view.
Any sentiments for Squirrel 3 or JavaScript?

[2017-09-17 21:59] ElementW commented on #69
My personal preference order is currently:
* Squirrel3
* Python (if stripped down)
* Lua
* JS

Lua is above JS because having almost no design is better than having bad design.
All 4 would be used through a stack-based VM so their ease of integration is pretty similar.

[2017-09-21 17:53] hhirsch opened #87 "Spike: How to store per-face (textures, scaling, rotation, panning) for walls"

[2017-09-21 17:53] hhirsch opened #88 "Spike: How to store non-cuboid shapes in the maps"

[2017-09-23 00:00] codercodi commented on #81
Hello, I want to get involved in this project and have a little C++ experience. I have made the changes to the code as needed and now .rmdx flies work with the game. I have made the changes to the files under external/RadixEngine in the glPortal branch/project. Will this be enough? Or do I have to also make the change in the engine under this repo. Thanks.

[2017-09-23 01:43] SGOrava commented on #81
Hello @codercodi external/RadixEngine is pointing to this repository. So if you made some changes in externalRadixEngine these changes you did in some version of this repository. I advice you to make a backup of your changes (commit them to same branch, or simply copy somewhere...) and apply your changes.

I don't know in what state this repository exactly is (right now there is work in progress "

[2017-09-23 05:00] hhirsch commented on #81
@codercodi Good news. You can just fork Radix on github and then go to external/RadixEngine and add your fork as a remote with "git remote add .." then you can push your commits to this remote and create a new pull request. We abandoned the practice of merging into branches so you would create a PR for master. I'll also accept patches on github gists if everything else fails and creating patches i

[2017-09-23 10:11] Geertiebear commented on #69
My comments about this on gitter:

I think the language we pick should be very speedy and nice to use
it might also be nice if it was very widely used, for example, I don't know squirrel at all, and I don't think many people do
people know python and javascript very well, which sets a low entry bar for using the engine
I think having a low entry bar is very valuable

We could maybe have the option

[2017-09-24 07:11] wow2006 commented on #69
my list:

[2017-09-24 09:31] SGOrava commented on #69
1. Python3
2. Squirrel3
3. Lua
4. JS

[2017-09-24 10:35] hhirsch commented on #69
I've adapted the order of my programming languages. I am now campaigning for Squirrel.

1. Squirrel3
2. JS
3. Python
4. Lua

[2017-09-24 10:41] hhirsch commented on #69
1. Squirrel 3
2. JS
3. Python 3
4. Lua

[2017-09-24 15:06] ElementW opened #90 "Add profiling"
Possibly using https://github.com/yse/easy_profiler

[2017-09-28 18:31] wow2006 opened #91 "additional texture map [Features]"
I would be nice to support new texture maps  [ref](http://www.cgsociety.org/news/article/3561/getting-to-know-blankrepository)
- Roughness map
- Metalness map
- Displacement map

[2017-09-30 06:11] hhirsch opened #92 "appveyor"
https://github.com/mmatyas/supermariowar/blob/master/.appveyor.yml

[2017-09-30 17:07] ElementW commented on #90
Implemented.

[2017-09-30 17:07] #90 closed

[2017-10-01 07:02] hhirsch commented on #81
@codercodi Did that help?

[2017-10-01 07:04] hhirsch opened #93 "Make debug view a config value"
Fixed with the following PRs. PRs are in merge order:
https://github.com/GlPortal/glPortal/pull/96
https://github.com/GlPortal/RadixEngine/pull/97

[2017-10-01 07:49] hhirsch opened #94 "Add teleport trigger tier 1"
This teleport trigger transports the player from one point to another.

[2017-10-01 07:50] hhirsch opened #95 "Add teleport trigger tier 2"
Add momentum conversion to the trigger.

[2017-10-01 07:58] hhirsch opened #96 "Add view frame renderer"
Surfaces like video screens, mirrors or portals
- [ ] Create view frame renderer and test map

[2017-10-03 15:45] hhirsch opened #98 "Review http://www.naturaldocs.org"
It probably will not make a big difference but let's compare doxygen with http://www.naturaldocs.org

[2017-10-03 17:28] #93 closed

[2017-10-03 17:49] hhirsch opened #99 "Create game console"
- Make game terminal run in a different thread
- Redirect log output to file

[2017-10-03 18:27] ElementW commented on #88
Proposed XML wording for the current walls:
[code]

[2017-10-04 21:47] codercodi commented on #81
Hi I was having trouble with git but I think I have a handle on it and have created another PR. Hope this works this time.

[2017-10-05 20:00] ElementW commented on #33
(Half-)Quoting myself from Gitter:

If I'm not mistaken there are quite a few places were the raw SDL input checking functions are used, so that should be fixed.

Generally speaking all raw input (except maybe gamepad/touchscreen) is already defined in `InputSource` as `Event`s going to `EventDispatcher`s.
A `Window` is an `InputSource` itself, but while it broadcasts raw input events, something s

[2017-10-06 18:33] hhirsch opened #102 "Interface with the map editor"
Simple interface to the map editor through a json file to transmit:
- current player position

[2017-10-10 02:40] aandertodd commented on #33
I would like to tackle this project. Pleaseee.

[2017-10-10 03:51] hhirsch commented on #33
@aandertodd @babyccino Is currently committing to it but you can coordinate the work since this issue also goes with a redesign of the input system in general and also adding key bindings to the config file.
It requires a lot of coordination and collaboration to get this to work and it is @babyccino s choice if he wan'ts to do that. Even if you could not work together on this then there are still

[2017-10-13 20:48] hhirsch opened #105 "Implement Skyboxes"

[2017-10-15 10:20] hhirsch commented on #81
This is in master.

[2017-10-15 10:20] #81 closed

[2017-10-18 16:23] hhirsch commented on #33
@aandertodd @babyccino @captaincrunch21 I assume none of you is working on this problem atm.

[2017-10-18 16:29] babyccino commented on #33
I've been really busy the last week or so I haven't been able to do anything, have been back at it tonight though actually.

[2017-10-18 16:30] hhirsch commented on #33
@babyccino Good to hear.

[2017-10-21 04:08] lavishm58 commented on #60
is this issue still not working?

[2017-10-21 04:09] lavishm58 commented on #60
This issue still require attention?

[2017-10-21 04:22] hhirsch commented on #60
@lavishm58  Yes. We still don't have an abstraction for windowing and input.

[2017-10-21 04:23] hhirsch commented on #33
Linking https://github.com/GlPortal/RadixEngine/issues/60

[2017-10-21 04:40] lavishm58 commented on #60
@hhirsch Glad to hear that, it would be overwhelming if you provide some headstart links and a quick guide about specific requirements,then I can inform you about the time i will take to complete the issue?

[2017-10-21 04:59] hhirsch commented on #60
@lavishm58 This is my own interpretation of what this issue means but look at for example
- https://github.com/GlPortal/RadixEngine/blob/master/source/util/sdl/Fps.cpp
- https://github.com/GlPortal/RadixEngine/blob/master/source/SoundManager.cpp
- https://github.com/GlPortal/RadixEngine/blob/51839e7495c84162e5e1c94b6c995efa6242f7aa/source/Window.cpp
- https://github.com/GlPortal/RadixEngine/blob/f

[2017-10-21 05:02] hhirsch commented on #60
@lavishm58 As for time you spend on the issue. My suggestion is to split it up so your branch does not diverge from master, too much. Also read http://contribute.glportal.de

[2017-10-21 07:18] hhirsch commented on #60
@lavishm58 You probably want to clone GlPortal. This way you will have a playground to test your radix changes immediately.

[2017-10-21 08:30] hhirsch opened #106 "Specify and Implement screen triggers"

[2017-10-21 10:57] wow2006 commented on #73
I just push Linux version of glxInfo

[2017-10-21 11:07] lavishm58 commented on #60
Thanks for providing links,sorry for the late reply and would be helpful if @ElementW could elaborate?

[2017-10-21 12:54] wow2006 opened #107 "Add material Editor"
I will be great to add material editor using node-based examples:
1. [Maya](https://knowledge.autodesk.com/support/maya/learn-explore/caas/CloudHelp/cloudhelp/2016/ENU/Maya/files/GUID-FAB13FA2-7068-4169-8D27-016B13E5C930-htm.html)
2. [UE4](https://docs.unrealengine.com/latest/INT/Engine/Rendering/Materials/Editor/)
3. [Unity](https://www.youtube.com/watch?v=VWEukRja26U)

[2017-10-21 13:01] hhirsch commented on #107
Blender has a similar UI for its shaders so it should be possible to implement in it, too.

[2017-10-21 13:05] wow2006 commented on #107
I love the idea of the graph-based. It's used in the material editor, AI and animation blending too.

[2017-10-21 14:14] hhirsch commented on #60
@lavishm58 Hmm. Dorian is not available for feedback atm. I think from these files you should see what is wrong. Aim for a thin layer of abstraction at first and we can get more elaborate in future iterations.

[2017-10-21 16:28] Geertiebear commented on #84
Would it be an idea to schedule trigger callbacks for **next** tick so that everything can finish in time?

[2017-10-22 08:33] Geertiebear commented on #94
Implemented

[2017-10-22 08:33] #94 closed

[2017-10-22 14:05] Geertiebear opened #108 "Implement updated screen spec"
Involves closing the screen on key press.

[2017-10-22 14:08] Geertiebear opened #109 "Remove screen clearing."
Currently all screens get cleared after rendering them. Offending line: https://github.com/GlPortal/RadixEngine/blob/master/source/BaseGame.cpp#L137

This is bad and can be removed when #108 is finished, which allows the screen to remove itself from rendering.

[2017-10-22 14:10] Geertiebear commented on #95
Momentum conversion is not needed for simple triggers.

[2017-10-22 14:10] #95 closed

[2017-10-24 17:53] hhirsch opened #110 "Reload when map changes"
Reload map when the map file changes.

[2017-10-25 20:19] wow2006 commented on #73
add windows version without test cases

[2017-10-28 11:59] wow2006 opened #111 "Implement test cases for glxinfo-like debugging #73"
Implement glxinfo test cross-platform test cases. #73
- Distro Info
- Kernel info
- Cpu and Memory Info
- libc Info
- OpenGL Info
- SDL info

[2017-10-28 12:00] wow2006 commented on #73
moved test cases to #111

[2017-10-28 14:02] hhirsch commented on #111
@wow2006 Can you create patches from the commit and add them as a gist?

[2017-10-30 13:06] kungfooman commented on #69
The way to go is to make the game a .dll/.so and export lots of FFI C api calls and let the user choose. Every language supporting FFI (nodejs, Julia, Python or any native language like Go, C, C++, Java, C#...) can then simply instantiate the game module. Just think about it, nobody wants to install few thousand files for a ripped down Python installation e.g. (no ability or hard to install extra

[2017-11-19 12:07] hhirsch commented on #108
@Geertiebear How should this be changed from the key attribute?
 https://github.com/GlPortal/specification/blob/master/formats/screen.md

[2017-11-19 15:25] Geertiebear commented on #108
What do you mean?

[2017-11-19 15:27] hhirsch commented on #108
@Geertiebear The current spec contains the key attribute that does just that. What should be changed?

[2017-11-19 15:28] Geertiebear commented on #108
In the spec? Nothing
In the engine? Implement it

[2017-11-19 15:29] hhirsch commented on #108
Thanks for clarifying now I get it.

[2017-11-20 06:38] hhirsch opened #118 "Game crashing on exit"
Nilay @nilspin Nov. 19 22:31
So we all know the game doesn't really 'exit', but crashes on exit. Upon inspecting I found the error occurs when calling Game object's destructor.
It is a complex object encapsulating a lot of other objects-world, renderer, screen etc - so I tried looking at what destructors were being called in which order.
First object to get destroyed is the UiRenderer object. Then

[2017-11-20 18:47] ElementW opened #119 "Reimplement rendering"
Right now rendering is slow and suffers from high overhead and GPU synchronization issues. In the light of more performant rendering APIs and imrovement of existing ones (AZDO on OpenGL), the whole rendering backend should be reimplemented from scratch based on more modern design decisions, focusing on batching geometry, minimizing state changes, and better resource management.

Ideally, rendering

[2017-11-22 23:09] ElementW commented on #119
As with most changes in existing codebases, we'll have to decide on what names to use. Here I'm splitting up things in resource management to distinguish between data on the CPU and data on the GPU.

For example, right now we have `Texture` representing a GPU bitmap, and `Mesh` both being a `std::vector<Vector3f> vertices` and a `int handle` (pointing to a GL V**A**O, currently the reference to th

[2017-11-23 06:31] hhirsch commented on #119
@ElementW I know that framebuffer is a noun and correctly written like you wrote it. What do you think about that we still call it FrameBuffer for consistency?

[2017-11-23 07:58] ElementW commented on #119
@hhirsch Good point. Changed.

[2017-11-25 00:53] SGOrava opened #120 "XmlMapLoader: Remove support for exit door <end>"
Element `<end>` is deprecated and can be replaced with triggers (win, map, screen) and anything what creator wants (wall, light, abyss, model, texture, darkness).

The support will also be removed from Map Editor https://github.com/GlPortal/map-editor/issues/23 and maps will be updated with combination of trigger (map) and model (door).

[2017-11-25 01:05] SGOrava commented on #92
There is also option to use msys2 which i demonstrated in my fork (poor me i worked on master)
https://github.com/SGOrava/RadixEngine
Results of this conquest can be found here:
https://ci.appveyor.com/project/SGOrava/radixengine/build/Radix%20master-28

For build which will use visual studio it might be good to use/create prebuild binaries and use them instead of building everything, it will take

[2017-11-25 01:11] hhirsch commented on #92
@SGOrava Very nice. Do you want to create a pull request or should I copy the file to a new branch?

[2017-11-25 01:13] hhirsch commented on #44
@rtlayzell You also might want to give https://github.com/kungfooman/glportal-vs a try.

[2017-11-25 01:13] #44 closed

[2017-11-25 01:15] SGOrava commented on #92
It is little more than just CI config.
Some work needs to be done with threads, i never tested if that works, i only made it able to compile, will test later.

[2017-11-25 18:58] hhirsch commented on #92
'''
# Notes:
#   - Minimal appveyor.yml file is an empty file. All sections are optional.
#   - Indent each level of configuration with 2 spaces. Do not use tabs!
#   - All section names are case-sensitive.
#   - Section names should be unique on each level.
# from example:
# https://gitlab.com/RetroShare/RetroShare/blob/master/appveyor.yml

#---------------------------------#
#      general confi

[2017-11-28 05:10] hhirsch commented on #73
@wow2006 This is merged and tested, right?

[2017-11-28 20:06] wow2006 commented on #73
It still needs to be tested.

[2017-11-28 20:08] hhirsch commented on #73
How is it compiled and run?

[2017-12-03 07:22] #120 closed

[2017-12-15 11:51] hhirsch opened #128 "The player will fall through portals that are placed on the floor"

[2017-12-15 20:41] hhirsch opened #129 "Make XmlScreenLoader cache screens"
- [ ] Keep a single screen referenced in game world.
- [x] And cache the screens within the XmlScreenLoader class.

[2017-12-15 21:17] #129 closed

[2017-12-16 07:54] #118 closed

[2017-12-16 10:19] hhirsch opened #131 "Apply customizable bindings"
https://patch-diff.githubusercontent.com/raw/GlPortal/RadixEngine/pull/114.diff

[2017-12-16 12:46] #131 closed

[2017-12-17 12:50] wow2006 commented on #73
It just needs `awk` at test cases

[2017-12-17 12:52] wow2006 commented on #73
[code]

[2017-12-17 13:33] hhirsch commented on #73
@wow2006 We have talked about this. There is no real value in tests.
How is it compiled and run?

[2017-12-18 17:24] hhirsch opened #133 "Move GlPortal game renderer to radix"
Only leave very specific rendering routines to glportal

[2018-01-04 06:23] hhirsch opened #135 "No input possible after map change"

[2018-01-04 06:24] hhirsch commented on #135
@babyccino This just got reported and I can reproduce it. It might be connected to the new input system.

[2018-01-04 06:26] babyccino commented on #135
Will have a look tonight.

[2018-01-04 07:36] hhirsch commented on #29
ECS refactoring is over so this task is on the table again.

[2018-01-05 16:18] #135 closed

[2018-01-09 06:27] hhirsch opened #138 "Game segfaulting at exit"
@babyccino I think this started happening again with the introduction of the advanced input system.

[2018-01-09 06:35] babyccino commented on #138
Ok I'll have a look now

[2018-01-09 14:08] #138 closed

[2018-01-09 16:32] hhirsch opened #140 "Add trigger buttons to input system"
Radix dispatches events for primary and secondary fire and GlPortal registers observers on them.

@babyccino Do you want to implement this?

[2018-01-09 18:15] babyccino commented on #140
Do you controller triggers? They should be working already. If not I'll have a look tomorrow

[2018-01-09 20:49] hhirsch commented on #140
@babyccino Yes. Check the config I can't see them bound there.

[2018-01-10 07:44] babyccino commented on #140
@hhirsch The triggers were already implemented they just weren't bounded to anything. You can bound them to jump to test them out.

I'm assuming you want to bind the triggers to the portals by default. I'm having trouble thinking of a clean way to make the InputManager able to handle actions defined after the engine has been built (i.e. GlPortal has portals but Radix doesn't) so you won't be able

[2018-01-10 08:44] hhirsch commented on #140
@babyccino Very good I'll review the code and see if I can find a way to do it. Atm. I am thinking of dispatching events for the gamepad buttons and just registering observers for them whenever needed.

[2018-01-10 14:03] babyccino commented on #140
@hhirsch Yeah I was thinking of using the dispatcher but making event types for all the actions. Would be very easy. But of course you can't define event types for actions that don't exist. You could do anonymous actions for those that are defined later in GlPortal. I.e. Radix::InputManager has Action1, Action2, etc. which you can then use for whatever actions you want in GlPortal but then I don't

[2018-01-10 15:53] hhirsch commented on #140
@babyccino At this point in time it is perfectly fine to put functionality in radix first and then abstract it out into GlPortal slowly in multiple iterations.

[2018-01-14 16:05] hhirsch opened #142 "Wild movement disables and locks controls"
- move to the next map
- press and hold multiple control buttons at once

This leads to either jump stopping to work or buttons getting locked steering the player into one direction automatically.

[2018-01-14 16:06] hhirsch commented on #142
@babyccino Just encountered this and was able to reproduce on current master.

[2018-01-14 16:10] babyccino commented on #142
Are you holding multiple buttons while the next map is loading? Or after it's already loaded

[2018-01-14 16:12] hhirsch commented on #142
Just tried and the jump button breaking worked straight away after I have already switched the map not while switching.

[2018-02-14 06:26] hhirsch commented on #142
Jump button still broke when changing maps.

[2018-02-14 06:33] babyccino commented on #142
https://github.com/GlPortal/RadixEngine/commit/3d26ce1272d1cfbe9979e202ce672c677eeec419

Sorry, I committed this a few days ago. I assumed you would have seen it

[2018-02-14 06:40] hhirsch commented on #142
@babyccino It needs a rebase. Is it ready to merge from your perspective?

[2018-02-14 06:45] babyccino commented on #142
Why does it need a rebase? It doesn't say it's behind, at least from what I'm looking at.

[2018-02-14 07:03] hhirsch commented on #142
@babyccino I've looked at the wrong branch, sorry. For the inputSystem branch in radix I do get failing compilation though and the same error on the CI https://travis-ci.org/GlPortal/RadixEngine/builds/336881453?utm_source=github_status&utm_medium=notification

[2018-02-18 06:18] hhirsch opened #147 "Implement self-closing screens"

[2018-02-18 06:19] #147 closed

[2018-02-18 06:20] hhirsch commented on #109
Fixed

[2018-02-18 06:20] #109 closed

[2018-02-20 17:23] hhirsch opened #148 "Draft exposing the API to screens and maps"
@wow2006 @Geertiebear @nilspin
Tell me how you would like to access the API from inside the xml of maps and screens.

[2018-02-21 00:45] hhirsch commented on #69
@kungfooman This is about embedded scripting in maps and screens like menus. Are FFI C api calls applicable to that?

[2018-02-21 01:45] hhirsch commented on #69
@wow2006 sol2 is a good find. The example they have in the readme is straight forward.
The documentation of tinypy is not as straight forward. Maybe if we dig a bit deeper we will find an equally useful documentation for it. Sol's last commit was 3 days ago. Tinypy's website and code was last updated 10 years ago.
Please tell me your thoughts. From what I've seen sol2 (lua) is my favorite so far.

[2018-02-21 07:47] AnotherFoxGuy commented on #69
What about AngelScript? (http://www.angelcode.com/angelscript/)

It is used in many games such as Amnesia: The Dark Descent, Overgrowth, [Rigs of Rods](https://github.com/RigsOfRods/rigs-of-rods/tree/master/source/main/scripting) and [SuperTuxKart](https://github.com/supertuxkart/stk-code/tree/master/src/scriptengine)

Also, the [Urho3D](https://github.com/urho3d/Urho3D/tree/master/Source/Urho3D/A

[2018-02-21 08:02] hhirsch commented on #69
@AnotherFoxGuy This sounds great:

I also like how AngelScript code looks.

[2018-02-24 19:25] hhirsch opened #149 "Rename GameState to GameStateManager"

[2018-02-25 19:24] hhirsch opened #151 "Set imgui style to light or custom"
https://www.unknowncheats.me/forum/direct3d/189635-imgui-style-settings.html

[2018-02-25 19:25] #149 closed

[2018-02-25 19:46] wow2006 commented on #151
- [ ]  add dark theme
- [ ]  add xml file to read theme color values

[2018-02-26 05:56] babyccino commented on #142
@hhirsch have a look at this https://github.com/GlPortal/glPortal/tree/refactor. This should fix input issues, it does for me at least. In refactoring to restore pause functionality without the adding/removing observers GameStateManager basically become unnecessary.

[2018-02-26 07:23] hhirsch commented on #142
@babyccino That is good news. It will be a busy week for me but I try to get to it as soon as possible.

[2018-02-27 20:05] hhirsch commented on #142
@babyccino Refactor branch does not compile localy or on the CI.

[2018-02-28 06:11] babyccino commented on #142
For some reason the Radix attached to the branch won't load, it just gives 404 when you try open it. I'll just make a separate radix branch.

[2018-02-28 06:47] hhirsch commented on #142
@babyccino Did you push the branch on radix?
[code]

[2018-02-28 06:49] babyccino commented on #142
Yeah I figured this out and fixed the 404 but the TravisCL is still failing at "git submodule update --init --recursive" for whatever reason.

[2018-02-28 06:56] hhirsch commented on #142
@babyccino I just noticed I forgot the commit command in my last comment. Now added. Can you link the commits for the GlPortal and Radix repository so I can see if I can find a problem?

[2018-02-28 06:58] babyccino commented on #142
https://github.com/GlPortal/glPortal/tree/refactor
https://github.com/GlPortal/RadixEngine/tree/19c2231d7d8504c8b76466f6462508bb915ff862

That Radix repo is the one attached to glPortal/refactor

[2018-02-28 07:06] babyccino commented on #142
https://github.com/GlPortal/RadixEngine/tree/refactor

Here's a separate Radix branch with the changes.

[2018-02-28 07:08] hhirsch commented on #142
How does it compile for you? https://github.com/GlPortal/glPortal/tree/refactor still tries to include radix/core/state/GameState.hpp which does not exist anymore inside of the GameController.

[2018-02-28 07:10] hhirsch commented on #142
https://github.com/GlPortal/glPortal/blob/refactor/source/GameController.cpp#L6

[2018-02-28 07:12] babyccino commented on #142
That's Radix::GameState, I got rid of GlPortal::GameState/GameStateManger

[2018-02-28 07:17] hhirsch commented on #142
@babyccino Both my GlPortal and my Radix are at refactoring. Can you try with a vanilla check out?
[code]

[2018-02-28 07:22] hhirsch commented on #142
@babyccino Out of curiosity, how come it compiles for you?

GameController.cpp:44:12: error: 'radix::GameState' has not been declared
     radix::GameState::WinEvent::Type, [this](const radix::Event &event) {

[2018-02-28 07:25] babyccino commented on #142
Oh right because my Radix was detached from the head before the rename. I've just cloned a new repo with Radix/refactor. I'll make a commit in a minute

[2018-02-28 07:30] babyccino commented on #142
Ok that should work, it compiled and ran fine for me

[2018-02-28 07:40] hhirsch commented on #142
Sweet. Changing the map is very smooth. I was not able to spontaniously trigger any jumping bugs.
I'd like to test it out a bit more. @GlPortal/testers I'll be glad if you'd give it a spin, too.

@babyccino We spamed the comment section here quite a bit. While this is acceptable I'd prefer to use Slack for discussion. But I think you don't have notifications enabled and thus don't see my messages

[2018-02-28 14:58] #142 closed

[2018-03-01 05:51] hhirsch commented on #140
@babyccino Did you close this on accident?

[2018-03-01 05:54] babyccino commented on #140
Yeah sorry

[2018-03-02 13:11] wow2006 opened #153 "Implement sandbox"
I think we need to implement sandbox for radix to test every feature with Radix away from glportal to maintain isolation

[2018-03-02 17:53] hhirsch opened #154 "Add screen triggers and map triggers to the map format with angel script"

[2018-03-02 19:01] hhirsch commented on #69
This is very interesting, too http://chaiscript.com/

[2018-03-02 21:46] hhirsch commented on #128
@Geertiebear Did you test for this?

[2018-03-02 21:47] Geertiebear commented on #128
Yeah I fixed this today remember?

[2018-03-02 21:49] hhirsch commented on #128
@Geertiebear This bug should still exist. When you pass through a ground portal sometimes triggers won't register so you keep falling. We probably need not only check if the player is inside a trigger right now but in that special case we also need to check if the player passed a trigger very recently.

[2018-03-02 21:50] Geertiebear commented on #128
Oh I didn't realise this issue had to do with triggers my bad.

[2018-03-05 16:33] babyccino commented on #140
@hhirsch
https://github.com/GlPortal/glPortal/tree/inputSystem
https://github.com/GlPortal/RadixEngine/tree/inputSystem
https://github.com/GlPortal/glportal-data/tree/inputSystem

[2018-03-05 19:53] hhirsch commented on #140
@babyccino Already tested and I liked it. Is this ready to pull? Then you can create some PRs. I will see that I make the tests pass before I will pull the change to master.

[2018-03-07 20:11] turlututututu commented on #21
Hi is this issue still a thing? If so I can give it a try!

[2018-03-08 05:26] hhirsch commented on #21
@turlututututu Yes. You can see here that we don't run the quaternion tests at the moment https://github.com/GlPortal/RadixEngine/blob/master/CTestCustom.cmake

Objects that are rotated along multiple axis have a different orientation in the engine than in the editor.

[2018-03-10 15:42] #140 closed

[2018-03-18 21:39] turlututututu commented on #21
@hhirsch  when you say, orientations differ in map editor, you mean glportal/map-editor? I am looking forward to reproduce this issue

[2018-03-19 05:31] hhirsch commented on #21
@turlututututu Yes. Compare between our blender map editor and the game engine and you will see that objects have different orientation when they are rotated along multiple axis.

[2018-04-01 19:34] #21 closed

[2018-04-01 20:19] hhirsch opened #158 "Command line parameter to validate map files xml"
Create a CLI interface to validate map files according to the XSD.

[2018-04-01 22:26] turlututututu commented on #65
Sounds interesting! Has there been any breakthrough on that matter? What would it imply? moving along a fixed path like a rail or moving freely?

[2018-04-02 06:51] hhirsch commented on #65
@turlututututu I thought about a simple command to do it
[code]
The main idea is for simple movement like a door or an elevator. There hasn't been a breakthrough yet. And it does depend on #69. Which is blocked by GlPortal/glPortal#141

[2018-04-14 22:41] turlututututu commented on #128
Hi all, is anyone working on this or is it up for grab ? In the second case, is there a simple way to reproduce the issue without making a whole map? I am not really familiar with the editor :/

[2018-04-16 20:56] turlututututu commented on #128
Thanks! I will try that ! :)

[2018-04-18 21:15] nilspin commented on #133
Can we pull out all portal specific code to `glPortal::renderer::GameRenderer` while all entity/player/debugdraw/scene drawing functions go to `radix::renderer::GameRenderer`?

[2018-04-25 08:12] hhirsch opened #161 "Write replacement for KinematicCharacterController from scratch"

[2018-04-25 08:34] hhirsch opened #162 "Add launch to KinematicCharacterController"
launches the player up into the air by a specific speed Vector3f.
That will enable us to implement e.g. jump pads.

[2018-05-05 19:01] diablol1 opened #163 "Black screen on game start"
Everytime i launch the game all I see is black screen. I run it on Windows 7 with Radeon RX 550. Here's the console log if it helps https://pastebin.com/0dYvRUfa,

[2018-05-05 19:46] hhirsch commented on #163
@kungfooman What hardware are you using?

[2018-05-06 07:31] hhirsch opened #164 "Implement Death"
fem_fall has a very good death sound at the end. It needs to be cut from the file.
A dead state has to be added to the game and a "You Died" screen. Reset is currently to spawn.

[2018-05-09 19:16] hhirsch opened #165 "Portal works from both sides of a wall"
When I place a portal on a wall and I touch it from the other side I still get teleported.

[2018-05-12 07:13] hhirsch opened #166 "Moonwalking into a portal turns the player around"

[2018-05-12 15:53] hhirsch opened #167 "Move teleport trigger to radix"

[2018-05-12 16:34] #154 closed

[2018-05-21 02:47] krunoPeric opened #168 "Doesn't build on Debian 9"
The engine doesn't compile for debian 9 using the latest COMPILE.md instructions.

[2018-05-21 02:54] krunoPeric commented on #168
The compilation failed because the FreeImangePlus.h header file could not be found.  I changed the dependencies to include 'freeimageplus-dev' for debian instead of 'freeimage-dev'.  This caused successful compilation, so I edited COMPILE.md to include Debian 9 using freeimage-dev.

[2018-05-21 02:57] krunoPeric commented on #168
Pull request with fix sent.

[2018-05-23 19:18] #148 closed

[2018-06-03 11:54] ElementW opened #170 "Change scripting language"
Following #69, scripting was implemented into the engine using ChaiScript.

Chai was chosen mostly for its ease of integration and urgent need to be able to script out things, however it is not a permanent choice and displays some major issues, including, but not limited to:

* High binary size. The build `external/RadixEngine/external/chaiScript` directory can range anywhere from 400 to 700 MiB i

[2018-06-09 06:00] #170 closed

[2018-07-08 01:28] mkfifo opened #173 ".coveralls.yml should not be public"
.coveralls.yml is only needed for coveralls.io if you are using travis-ci.com (commercial travis for private repos).

You are using a public github repo, and so your .coveralls.yml is PUBLIC.
That REPO_TOKEN is meant to be a secret, by exposing it you allow anyone to write data to your coveralls.io.

If you remove .coverage.yml then your results can still be written from travis-ci.org to coveralls

[2018-07-08 01:32] mkfifo commented on #173
#174 sent

You may also want to make sure you regenerate you REPO_TOKEN on coveralls.io

[2018-07-08 01:37] mkfifo commented on #173
Hmmm this might be complicated by it running within Docker, that may meant the environment isn't setup correctly.

See https://github.com/lemurheavy/coveralls-public/issues/997 for other projects dealing with this

[2018-07-08 02:00] mkfifo commented on #173
I'm working on a fix for this to run the tests within docker and run cpp-coveralls outside of docker, so that we can remove the .coveralls.yml file

[2018-07-08 03:40] mkfifo commented on #173
I have updated the PR to move the cpp-coveralls call to run outside the docker container

Something about your cmake infrastructure requires it to be run *twice* before it generates any gcda/gcno files

See https://github.com/eddyxu/cpp-coveralls/issues/111#issuecomment-403259695 for more details

[2018-07-08 04:27] chrisosaurus opened #175 "Buggy CMake config"
Running CMake once or twice with the COVERAGE option set produces different results

[code]

outputs

[code]

whereas

[code]

outputs

[code]

For more context please see
https://github.com/eddyxu/cpp-coveralls/issues/111#issuecomment-403261317

[2018-07-28 05:04] hhirsch opened #177 "Add entity visibility"

[2018-09-09 16:45] hhirsch opened #178 "Update to catch 2"
https://github.com/catchorg/Catch2

[2018-09-15 21:34] hhirsch opened #179 "GameWorld needs to be a member of World"

[2018-10-07 06:14] hhirsch commented on #178
@wow2006 You are working on this atm?

[2018-10-12 14:31] wow2006 commented on #119
This a good guide [Doom III BFG](http://fabiensanglard.net/doom3_bfg/index.php)

[2018-10-13 04:47] hhirsch commented on #119
@kungfooman I agree with bullet physics being better than a custom made physics engine. Dorian has replaced our own physics engine with bullet a while ago.

I also agree that the way we work is not a fast way. If speed was my main concern I would've discarded the whole source the project is based on when I've started and used one of the stock engines. My intent when I adopted the project was to le

[2018-10-14 12:28] ElementW commented on #119
but also somewhat "left" the project in a state that is not really working, with some refactoring only half-finished. Also while I integrated Bullet I completely broke the portal physics, a thing I was working on but eventually put on hold because of other priorities, university not helping me have more time on the project.

Fortunately I am still here and might come back to work on glPortal, as m

[2018-10-20 11:16] wow2006 commented on #178
It is done at 6f5e3f8c4ddd54c08098674c40e17408a6d0443c

[2018-10-20 11:25] wow2006 opened #180 "Implement Scene Management"
We need to Implement some Scene Management algorithms. IMO I find this useful for rendering portals:

1. Portal Culling [VIDEO](https://www.youtube.com/watch?v=XBz5WI2a1YE)
2. Scene graph
3. LOD Frustum

useful [link](https://gist.github.com/nothings/913056601b56e5719cc987684a16544e)

[2018-10-20 11:35] wow2006 opened #181 "Implement large texture for all common small texture"
In OpenGL world bind and unbind texture takes some time. I like to improve the performance of the game by export the scene to binary format and attach all models texture to one big texture 4k or 8k texture. Use UV of that 4k texture to fetch location at shader using the uniform buffer. @hhirsch @ElementW @JulianThijssen @Geertiebear I am not sure how to add this.

[2018-10-20 11:36] wow2006 commented on #180
@hhirsch @ElementW @Geertiebear What do you think about this plane?

[2018-10-20 11:46] hhirsch commented on #178
Nice!

[2018-10-20 11:46] #178 closed

[2018-10-20 13:02] ElementW commented on #181
This is similar to when we would bake lightmaps if we had them. It's a nice idea, you just have to consider color bleeding due to texture sampling interpolation, but spacing the textures out work around that problem.
Not sure about the binary export format.
While serializing the scenes is a great idea, I don't think exporting stitched textures with it (if that what's you mean) is interesting since

[2018-10-20 13:16] ElementW commented on #180
1. Portal culling or similar is mandatory for good performance, in addition to frustum culling, it's a thing I wanted to do (when I was still actively working on glPortal) but since the maps are entirely dynamic and made of entities right now, there's no way to compute the portals automatically; manual hinting is the only solution then, and it's error-prone and time-consuming. I'd like to enable m

[2018-11-21 20:25] hhirsch opened #183 "Split up cmakelist into multiple includes"
The cmakelist is too big. It can probably be split up over multiple files easily.

[2019-03-03 11:02] hhirsch opened #189 "Clean up Window interface"
The Window class is messy to use.
- When you use it without running setConfig you'll do method calls on nullptrs leading to segfaults
- There is input code crammed in there

We want the following changes:
- Erase dependency to the Config class altogether using reasonable defaults, setters and an intermediate (named WindowConfigurator) class that applies config values to setters of the Window class

[2020-01-15 17:12] phanirithvij opened #199 "cannot build on windows msys"
I was trying to build glportal on windows.

I installed all the dependencies
[code]

<details>
<summary>cmake output</summary>

[code]

</details>

<details>
<summary>make output</summary>

[code]

</details>

The build fails because of the external dependency `vhacd-lib`. Any fixes?

[2020-01-15 19:36] hhirsch commented on #199
[code]
Should fix it.
Source: https://github.com/GlPortal/RadixEngine/blob/master/COMPILE.md#downloading-source-code

[2020-06-05 19:13] garrettkmoody opened #200 "Base Game File"
There are only a few comments on the basegame.cpp file, needs more for others to make contributions easier

[2020-06-05 19:34] garrettkmoody opened #201 "Entity.cpp file"
More clarity with comments on the Entity.cpp file would be useful for contributions

[2020-06-05 19:43] garrettkmoody opened #202 "Ubuntu 17.04"
Command given for Ubuntu 17.04 in the compile.md file gives error when running

[2020-06-05 20:32] hhirsch commented on #202
Very good. Paste the error message here. With a bit of luck I can help you out.

[2020-06-06 05:47] hhirsch commented on #201
You can find an implementation of an entity here:
https://github.com/GlPortal/glPortal/blob/master/source/Portal.cpp

Is there anything in particular that you want to do? For example create a new entity or edit an old one?

[2020-08-29 02:47] touchdestroyer1980 commented on #73
Hello, my name is Eric, and I'm looking for a project to get involved with.  This project caught my attention because I have just completed a class on programming in Python.  I also have a background in Physics that I think may be useful for this kind of a project.  Please reach out to me through email at touchdestroyer1980@gmail.com.  Thank you!

[2020-08-29 06:05] hhirsch commented on #73
@touchdestroyer1980 There is a chat on gitter and on IRC. The project is in huge technical debt and I am responsible but if you are up to a challenge it is nothing that is unfixable and I am willing to help with the bigger picture.

[2020-08-30 16:16] touchdestroyer1980 commented on #73
@hhirsch thanks for replying to my comment.  I have a few questions.  1.  How do I get to the gitter chat, and IRC for this project?  2.  What OS's is this project being developed for (Windows, Mac OS, Linux, etc) or is this project completely platform independent?  3. Anything regarding reference material for this project such as background, how the software is used, etc?  Looking forwars to work

[2020-08-30 17:22] hhirsch commented on #73
@touchdestroyer1980 Maybe you can come to discord. https://discord.gg/pUTXuDz it should compile on all platforms but windows and mac are not so well maintained.

[2020-08-31 01:37] touchdestroyer1980 commented on #73
Just created a document showing how the source for RadixEngine can be compiled using a bash script.  You can read the document at https://github.com/GlPortal/RadixEngine/pull/206 and the bash script is attached to this message.  Wasn't able to attach the bash script to the document I created.
![Build_Radix](https://user-images.githubusercontent.com/70418376/91675063-fe7b9880-eb08-11ea-949f-def67c5

[2020-08-31 16:35] hhirsch commented on #73
@touchdestroyer1980 I am sorry I have to remove every comment that is not on topic for this issue.

[2020-09-09 06:12] hhirsch commented on #73
Won't fix

[2020-09-09 06:12] #73 closed

[2020-10-02 20:56] #201 closed

[2020-12-03 14:10] #202 closed